@{
    ViewData["Title"] = "Get To Know Joel";
}

<div class="text-center">
    <h1 class="display-4">This is everything great you need to know about Joel!</h1>
    <a href="https://baconsale.com/">Here's a link to Baconsale!'</a>
    <br />
    <a href="https://www.qwcomedy.com/">This is Quick Wits comedy site as well.</a>
    <br />
      <img src="~/image/Hilton's Bro 2.png" alt="Joel Hilton" class="img-fluid" style="max-width: 500px;" />
</div>
